.red{
    color: red;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(download.jpg);
    background-size: cover;
}

.box{
    width: 750px;
    padding: 30px;
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    background:white;
    text-align: center;
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "tel"],.box input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding:14px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "tel"]:focus,.box input[type = "email"]:focus{
    width: 200px;
    border-color: #ffc400ec;  
}
#score{
    font-size: 35px;
    color:black;
    font-weight: bold;
}

.res{
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    font-size: 19px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:left;
    border: 5px solid #ffc400ec;
    padding:14px 45px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

#submit:hover{
    background: #ffc400ec;
}